<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Edit Course | Students Management System</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: #sidebar"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Add Course</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item">Course</li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Edit Course Here</h5>
                        <div th:if="${error eq 'courseDupe'}" class="alert alert-danger alert-dismissible fade show" role="alert">
                            This course already exists!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <!-- Floating Labels Form -->
                        <form class="row g-3" th:object="${course}" th:action="@{/course/edit}" method="post">
                            <div class="col-md-12">
                                <div class="">
                                    <input
                                            type="text"
                                            class="form-control"
                                            hidden
                                            th:field="*{id}"
                                    />
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="floatingName"
                                            readonly
                                            th:field="*{courseId}"
                                    />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="floatingEmail"
                                            placeholder="Course Name"
                                            th:field="*{courseName}"
                                    />
                                    <label for="floatingEmail">Course Name</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                      <textarea
                              class="form-control"
                              placeholder="Course Description"
                              id="floatingTextarea"
                              style="height: 100px"
                              th:field="*{courseDescription}"
                      ></textarea>
                                    <label for="floatingTextarea">Course Description</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Teacher select" th:field="*{teacher.id}"
                                    >
                                        <option th:each="t : ${teachers}" th:value="${t.id}" th:text="${t.username}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    Update
                                </button>
                                <button type="reset" class="btn btn-secondary">
                                    Reset
                                </button>
                            </div>
                        </form>
                        <!-- End floating Labels Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="/js/main.js"></script>
</body>
</html>