<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Courses List | Students Management System</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>


    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>
    <style>
        li.paginate_button {
            background-color: transparent !important;
            color: black !important;
        }
        li.paginate_button.active {
            background-color: transparent !important;
            color: blue !important;
        }
    </style>
</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/header :: header"></div>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="fragments/sidebar :: #sidebar"></div>
<!-- End Sidebar-->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Courses List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item">Course</li>
                <li class="breadcrumb-item active">List</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Courses</h5>
                        <!-- Conditionally display alert -->
                        <div th:if="${success eq 'courseEditSuccess'}"
                             class="alert alert-success alert-dismissible fade show" role="alert">
                            Course edited successfully!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div th:if="${success eq 'courseAddSuccess'}"
                             class="alert alert-success alert-dismissible fade show" role="alert">
                            Course added successfully!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div th:if="${success eq 'courseDeleteSuccess'}"
                             class="alert alert-success alert-dismissible fade show" role="alert">
                            Course deleted successfully!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="display" id="courses">
                            <thead>
                            <tr>
                                <th scope="col">Course Id</th>
                                <th scope="col">Course Name</th>
                                <th scope="col">Teacher</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Enabled</th>
                            </tr>
                            </thead>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->

<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.spring-friendly.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#courses').DataTable({
            ajax: '/api/getCourses',
            scrollY: '50vh',
            serverSide: true,
            columns: [
                {data: 'courseId'},
                {data: 'courseName'},
                {
                    data: 'teacher',
                    render: function (data, type, row) {
                        // Assuming 'teacher' is an object with a 'username' property
                        if (type === 'display') {
                            return data.username;
                        }
                        return data;
                    }
                },
                {
                    data: 'id', // You can set it to null as it's a custom column
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<a href="/course/edit/' + data + '"><i class="bi bi-pencil-fill edit-icon"></i></a>';
                        }
                        return '';
                    }
                },
                {
                    data: 'disabled',
                    render: function (data, type, row) {
                        // Determine the URL based on the value of 'data'
                        const url = data ? '/course/enable/' : '/course/disable/';

                        // Determine the icon class based on the value of 'data'
                        const bgClass = data ? ' bg-success' : ' bg-danger';

                        const status = data ? 'Enable' : 'Disable';

                        // Create the anchor link with the determined URL and icon
                        return '<a href="' + url + row.id + '"><span class="badge'+bgClass+'">' + status +'</span></a>';
                    }
                }
            ]
        });
    });


</script>

</body>
</html>
