<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>Users List | Students Management System</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Favicons -->
    <link th:href="@{/images/favicon.png}" rel="icon">
    <link th:href="@{/images/apple-touch-icon.png}" rel="apple-touch-icon">

    <link
            th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet"/>
</head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/header :: header"></div>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<div th:replace="fragments/sidebar :: #sidebar"></div>
<!-- End Sidebar-->
<h1 class="d-none" sec:authentication="principal.username" id="currentUserName"></h1>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Users List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item">User</li>
                <li class="breadcrumb-item active">List</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <div th:if="${success eq 'userEnableSuccess'}"
                             class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success!</strong> User has been enabled.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div th:if="${success eq 'courseDisableSuccess'}"
                             class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Success!</strong> User has been disabled.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <!-- Table with stripped rows -->
                        <table class="display" id="users">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Action</th>
                                <th scope="col">Enabled</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->

<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.spring-friendly.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap.min.js"></script>

<script>

    $(document).ready(function () {
        $('#users').DataTable({
            ajax: '/api/get-users',
            serverSide: true,
            columns: [
                {data: 'id'},
                {data: 'name'},
                {data: 'username'},
                {data: 'email'},
                {
                    data: 'roles',
                    render: function (data, type, row) {
                        let roles = '';
                        for (let i = 0; i < data.length; i++) {
                            roles += data[i].name + '<br>';
                        }
                        return roles;
                    },
                },
                {
                    data: 'id',
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<a href="/user/edit/' + data + '"><i class="bi bi-pencil-fill edit-icon"></i></a>';
                        }
                        return '';
                    },
                },
                {
                    data: 'enabled',
                    render: function (data, type, row) {
                        const bgClass = data ? ' bg-danger' : ' bg-success';
                        const status = data ? 'Disable' : 'Enable';
                        const toggleStatus = !data;

                        if (row.username === $('#currentUserName').text()) {
                            return '';
                        }

                        return '<a href="#" class="toggle-user" data-user-id="' + row.id + '" data-status="' + toggleStatus + '"><span class="badge' + bgClass + '">' + status + '</span></a>';
                    },
                },
            ],
        }).on('click', '.toggle-user', function () {
            const userId = $(this).data('user-id');
            const newStatus = $(this).data('status');

            $.ajax({
                url: '/api/toggle-user-active/' + userId + '?status=' + newStatus,
                type: 'POST',
                success: function (data) {
                    // Refresh the DataTable
                    $('#users').DataTable().ajax.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error toggling user status: ' + errorThrown);
                },
            });
        });
    });

</script>

</body>
</html>
